<ul>
    <li><a href="{% url 'Ex_Form:exam01' %}">exam01</a></li>
    <li><a href="{% url 'Ex_Form:exam02' %}">exam02</a></li>
    <li><a href="{% url 'Ex_Form:exam03' %}">exam03</a></li>
    <li><a href="{% url 'Ex_Form:exam04' %}">exam04</a></li>
    <li><a href="{% url 'Ex_Form:exam05' %}">exam05</a></li>
    <li><a href="{% url 'Ex_Form:exam06' %}">exam06</a></li>
    <li><a href="{% url 'Ex_Form:exam07' %}">exam07</a></li>
    <li>exam08(DetailView)</li>
    <li><a href="{% url 'Ex_Form:exam09' %}">exam09</a></li>
</ul>