<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Yejin View 메인</h1>
    <!-- id는 동적으로 활용할 때 사용 그냥 페이지만으로는 필요 없음 -->
    <section id="content1">  
        <h3>Request 이해하기(함수형 뷰)</h3>
        <ol>
            <!-- href내부 내용 - 우아한 url 처리 -->
            <li>Get 요청1: <a href="get1/?n1=10&n2=20n3=hello">get1</a></li>
        </ol>
    </section>
</body>
</html>