<!DOCTYPE html>
<html lang="euc-kr">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body>
        <h1>Example View 메인</h1>
        현재 시간: {{ now }}
        <section id="content1">
            <h3>Request 이해하기(함수형 뷰)</h3>
            <ol>
                <li>GET 요청1: <a href="get1/?n1=10&n2=20&n3=hello">get1</a></li>
                <li>GET 요청2: <a href="get2/10/20/hello">get2</a></li>
                <li>GET 요청1(reverse): <a href="{% url 'ex_view:get1' %}?n1=10&n2=20&n3=hello">get1</a></li>
                <li>GET 요청2(reverse): <a href="{% url 'ex_view:get2' '100' '200' 'hello' %}">get2</a></li>
                <li>POST 요청1:
                    <form action="post1/" method="post">
                        {% csrf_token %}
                        <input type="text" name="n1">
                        <input type="text" name="n2">
                        <input type="submit" value="요청 및 전송">
                    </form>
                </li>
                <li>POST 요청2:
                    <form action="post2/hello/123/" method="post">
                        {% csrf_token %}
                        <input type="text" name="n1">
                        <input type="text" name="n2">
                        <input type="submit" value="요청 및 전송">
                    </form>
                </li>
                <li>GET_POST 요청1: <a href="get_post1/">get_post1</a></li>
                <li>GET_POST 요청1:
                    <form action="get_post1/" method="post">
                        {% csrf_token %}
                        <input type="text" name="n1">
                        <input type="text" name="n2">
                        <input type="submit" value="요청 및 전송">
                    </form>
                </li>
            </ol>
        </section>
        <section id="content2">
            <h3>Request 이해하기(클래스형 뷰)</h3>
            <ol>
                <li>GET 요청3: <a href="get3/?n1=10&n2=20&n3=hello">get3</a></li>
                <li>GET 요청4: <a href="get4/10/20/hello">get4</a></li>
                <li>POST 요청3:
                    <form action="post3/" method="post">
                        {% csrf_token %}
                        <input type="text" name="n1">
                        <input type="text" name="n2">
                        <input type="submit" value="요청 및 전송">
                    </form>
                </li>
                <li>POST 요청4:
                    <form action="post4/hello/123/" method="post">
                        {% csrf_token %}
                        <input type="text" name="n1">
                        <input type="text" name="n2">
                        <input type="submit" value="요청 및 전송">
                    </form>
                </li>  
                <li>GET_POST 요청2: <a href="get_post2/">get_post2</a></li>
                <li>GET_POST 요청2:
                    <form action="get_post2/" method="post">
                        {% csrf_token %}
                        <input type="text" name="user">
                        <input type="text" name="pwd">
                        <input type="submit" value="요청 및 전송">
                    </form>
                </li>                              
            </ol>
        </section>        
    </body>
</html>