val1 : {{ val1 }}<br>
val1|escape : {{ val1|escape }}<br>
val1|striptags : {{ val1|striptags }}<br>
val1|length : {{ val1|length }}<br>
val1|upper : {{ val1|upper }}<br>
val1|linebreaks : {{ val1|linebreaks }}<br>
val1|upper|linebreaks : {{ val1|upper|linebreaks }}<br>
<br>
lst|lower|join:"@" : {{ val1|lower|join:"@" }}<br>
dic|upper : {{ dic|upper }}<br>
unknown|default : {{ unknown|default:"기본값" }}<br>
bio|truncatewords:4 : {{ bio|truncatewords:4 }}<br>
lst|pluralize : {{ lst|pluralize }}<br>
ls|pluralize : {{ ls|pluralize }}<br>
lss|pluralize : {{ lst|pluralize:"es" }}<br>