{% extends 'Ex_Template/base.html' %} {# base.html을 상속받는다. #}
{% block title %}Index{% endblock %}
{% block content %}
    <ol>
        <li><a href="/ex/ex01/">ex01</a></li>
        <li><a href="/ex/ex02/">ex02</a></li>
        <li><a href="/ex/ex03/">ex03 - form tag</a></li>
        <li><a href="/ex/ex04/">ex04 - if tag</a></li>
        <li><a href="/ex/ex05/">ex05 - url tag</a></li>
        <li><a href="/ex/ex06/">ex06 - csrf_token tag</a></li>
        <li><a href="/ex/ex07/">ex07 - with tag</a></li>
        <li><a href="/ex/ex08/">ex08 - escape tag</a></li>
    </ol>
{% endblock %}
