{{ name_list.0 }}<br>
{{ name_list.1 }}<br>
{{ name_list.2 }}<br>
<hr>
<ul>
    {% for name in name_list %}
    <li>
        {{ forloop.counter }}. 이름: {{ name }}<br>
        forloop.counter: {{ forloop.counter }}<br>
        forloop.counter0: {{ forloop.counter0 }}<br>
        forloop.revcounter: {{ forloop.revcounter }}<br>
        forloop.revcounter0: {{ forloop.revcounter0 }}<br>
        forloop.first: {{ forloop.first }}<br>
        forloop.last: {{ forloop.last }}<br>
    </li>
    {% endfor %}
</ul>